.user-item a {
  display: block;
  border: 1px solid var(--color-gray-25);
    border-radius: var(--border-radius-sm);
    padding: var(--spacer-df);
    color: var(--color-primary);
    box-shadow: var(--nice-shadow);
  
    &:hover {
      box-shadow: var(--nice-shadow-hover);
    }
}