<div class="post-form__wrapper" style="min-width: 330px">
  <h2>{{ isLogin ? "Login" : "Sign Up" }}</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-controller
      label="Email"
      name="email"
      [validation]="emailValidation"
    ></app-controller>

    <app-controller
      label="Password"
      name="password"
      [validation]="passwordValidation"
      type="password"
    ></app-controller>

    <app-button
      type="submit"
      class="post-form__button"
      [disabled]="isSubmitting"
    >
      {{ isSubmitting ? "Submitting" : isLogin ? "Login" : "Sign Up" }}
    </app-button>
    <app-button *ngIf="isDirty" (click)="resetForm()">Reset</app-button>
  </form>
  <div class="post-form__switch">
    <app-button (click)="toggleMode()" [isFlat]="true">
      <span *ngIf="isLogin">Switch to Sign Up</span>
      <span *ngIf="!isLogin">Switch to login</span>
    </app-button>
  </div>
</div>
