<div class="app-layout">
  <div class="top-navigation__wrapper">
    <nav>
      <a href="/" class="logo">
        <img src="/favicon.ico" alt="My Blog Logo" class="logo__img" />
      </a>
      <ng-container *ngFor="let item of items">
        <a
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [class]="item.className"
          >{{ item.title }}</a
        >
      </ng-container>
      <app-user-menu />
    </nav>
  </div>
  <main class="content__wrapper">
    <router-outlet />
  </main>
  <footer class="footer">
    <div class="footer__content">
      <p class="footer__copyright">
        &copy; {{ currentYear }} My Blog. All rights reserved.
      </p>
      <p class="footer__text">Made with ❤️ by Yevhen.</p>
    </div>
  </footer>
</div>
