<form [formGroup]="form" (ngSubmit)="submit()">
  <app-upload-field
    label="Image"
    name="image"
    (fileChanged)="fileChanged($event)"
  ></app-upload-field>
  <app-controller
    label="First name"
    name="first_name"
    [validation]="fieldValidation"
  ></app-controller>

  <app-controller
    label="Last name"
    name="last_name"
    [validation]="fieldValidation"
  ></app-controller>

  <app-controller
    label="Short biography"
    name="short_bio"
    [rows]="5"
  ></app-controller>

  <app-button type="submit" class="post-form__button" [disabled]="isSubmitting">
    {{ isSubmitting ? "Submitting" : "Submit" }} </app-button
  >&nbsp;&nbsp;
  <app-button [isFlat]="true" *ngIf="isDirty" (click)="resetForm()"
    >Reset</app-button
  >
</form>
