<div class="input_field">
  <app-label
    *ngIf="label"
    [htmlFor]="id"
    [isFocused]="isFocused"
    [isFilled]="!!modelValue"
  >
    {{ label }}
  </app-label>
  <input
    *ngIf="rows === '1'"
    [id]="id"
    [name]="name"
    [type]="type"
    [value]="modelValue"
    (input)="onInputChange($event)"
    (blur)="handleBlur($event)"
    (focus)="handleFocus($event)"
    [attr.aria-label]="ariaLabel"
    [attr.aria-describedby]="ariaDescribedby"
    [attr.aria-invalid]="ariaInvalid"
    [attr.aria-required]="ariaRequired"
    [disabled]="disabled"
    [readonly]="readonly"
    [placeholder]="placeholder"
  />
  <textarea
    *ngIf="rows !== '1'"
    [rows]="rows"
    [id]="id"
    [name]="name"
    [value]="modelValue"
    (input)="onInputChange($event)"
    (blur)="handleBlur($event)"
    (focus)="handleFocus($event)"
    [attr.aria-label]="ariaLabel"
    [attr.aria-describedby]="ariaDescribedby"
    [attr.aria-invalid]="ariaInvalid"
    [attr.aria-required]="ariaRequired"
    [disabled]="disabled"
    [readonly]="readonly"
    [placeholder]="placeholder"
  ></textarea>
  <app-invalid-text [errors]="errors"></app-invalid-text>
</div>
